name: Docker
on:
  push:
    branches: [master]
  pull_request:
jobs:
  # build job
  build:
    name: Build
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        go: ["1.16"]
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Login to GitHub Docker registry
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Login to Quay.io docker registry
      run: echo "$DOCKER_PASSWORD" | docker login quay.io -u "$DOCKER_USERNAME" --password-stdin
      env:
        DOCKER_USERNAME: ${{ secrets.QUAY_DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.QUAY_DOCKER_PASSWORD }}

    - name: Build debian based docker image
      run: |
        make docker-build \
          DOCKER_BUILD_GO_VERSION=${{ matrix.go }} \
          DOCKER_BUILD_IMAGE=ghcr.io/sylr/prometheus-azure-exporter-dev \
          DOCKER_BUILD_VERSION=$(git describe --always --tags --dirty --broken)-debian-${{ matrix.go }}

    - name: Setup docker buildx
      uses: docker/setup-buildx-action@v1
      with:
        driver-opts: |
          image=moby/buildkit:master
          network=host

    - name: Build scratch based multi-arch docker image
      run: |
        make docker-buildx-build \
          DOCKER_BUILD_GO_VERSION=${{ matrix.go }} \
          DOCKER_BUILD_IMAGE=ghcr.io/sylr/prometheus-azure-exporter-dev \
          DOCKER_BUILD_VERSION=$(git describe --always --tags --dirty --broken)-go${{ matrix.go }}

    - name: Push scratch based multi-arch docker image to quay.io
      if: ${{ github.ref == 'refs/heads/master' }}
      run: |
        make docker-buildx-push \
          DOCKER_BUILD_GO_VERSION=${{ matrix.go }} \
          DOCKER_BUILD_IMAGE=quay.io/sylr/prometheus-azure-exporter \
          DOCKER_BUILD_VERSION=master-go${{ matrix.go }}

  # # clean job
  # clean:
  #   name: Clean
  #   runs-on: ubuntu-20.04
  #   needs: Build
  #   steps:
  #   - uses: actions/delete-package-versions@v1
  #     with:
  #       num-old-versions-to-delete: 10
  #       package-name: prometheus-azure-exporter-dev
  #       token: ${{ secrets.GITHUB_DOCKER_PASSWORD }}
