name: Go
on:
  push:
    branches: [master]
  pull_request:
jobs:
  build:
    name: Build
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        go: ["1.14", "1.15", "tip"]
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
      with:
        path: ${{ github.workspace }}/go/src/${{ github.repository }}
        fetch-depth: 0

    - name: Set up Go ${{ matrix.go }}
      if: matrix.go != 'tip'
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}

    - name: Set up Go ${{ matrix.go }}
      if: matrix.go == 'tip'
      run: |
        export GOROOT_BOOTSTRAP=`go env GOROOT`
        export GOROOT=$HOME/gotip
        mkdir $HOME/gotip
        cd $HOME/gotip

        curl -s 'https://go.googlesource.com/go/+/refs/heads/master?format=JSON' | awk '/"commit"/{print substr($2,2,40);exit}' >HEAD
        awk '{printf("gotip-%s",substr($0,0,7))}' <HEAD >VERSION

        curl -s -o go.tar.gz https://go.googlesource.com/go/+archive/`cat HEAD`.tar.gz
        tar xfz go.tar.gz

        cd src
        bash make.bash

        echo "GOROOT=$GOROOT" >> $GITHUB_ENV
        echo "$GOROOT/bin" >> $GITHUB_PATH

    - name: Go version
      run: go version

    - name: Verify go mod
      run: make verify-go-mod
      working-directory: ${{ github.workspace }}/go/src/${{ github.repository }}

    - name: Test
      run: make test
      working-directory: ${{ github.workspace }}/go/src/${{ github.repository }}

    - name: Build
      run: make build
      working-directory: ${{ github.workspace }}/go/src/${{ github.repository }}
